<a href="https://colab.research.google.com/github/Robin-das-raam/Natural-Language-Processing/blob/main/camelot_table_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install "camelot-py[cv]" -q

     |████████████████████████████████| 40 kB 23 kB/s
     |████████████████████████████████| 214 kB 13.1 MB/s
     |████████████████████████████████| 5.6 MB 38.6 MB/s
     |████████████████████████████████| 11.7 MB 18.5 MB/s
     |████████████████████████████████| 4.1 MB 46.0 MB/s

In [2]:
!apt-get install ghostscript

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  fonts-droid-fallback fonts-noto-mono gsfonts libcupsfilters1 libcupsimage2
  libgs9 libgs9-common libijs-0.35 libjbig2dec0 poppler-data
Suggested packages:
  fonts-noto ghostscript-x poppler-utils fonts-japanese-mincho
  | fonts-ipafont-mincho fonts-japanese-gothic | fonts-ipafont-gothic
  fonts-arphic-ukai fonts-arphic-uming fonts-nanum
The following NEW packages will be installed:
  fonts-droid-fallback fonts-noto-mono ghostscript gsfonts libcupsfilters1
  libcupsimage2 libgs9 libgs9-common libijs-0.35 libjbig2dec0 poppler-data
0 upgraded, 11 newly installed, 0 to remove and 20 not upgraded.
Need to get 14.1 MB of archives.
After this operation, 49.9 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-droid-fallback all 1:6.0.1r16-1.1 [1,805 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/main amd64 poppler-data all 0.4.8-2 [1,479 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-noto-mono all 20171026-2 [75.5 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libcupsimage2 amd64 2.2.7-1ubuntu2.9 [18.6 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic/main amd64 libijs-0.35 amd64 0.35-13 [15.5 kB]
Get:6 http://archive.ubuntu.com/ubuntu bionic/main amd64 libjbig2dec0 amd64 0.13-6 [55.9 kB]
Get:7 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libgs9-common all 9.26~dfsg+0-0ubuntu0.18.04.16 [5,093 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libgs9 amd64 9.26~dfsg+0-0ubuntu0.18.04.16 [2,265 kB]
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 ghostscript amd64 9.26~dfsg+0-0ubuntu0.18.04.16 [51.3 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic/main amd64 gsfonts all 1:8.11+urwcyr1.0.7~pre44-4.4 [3,120 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libcupsfilters1 amd64 1.20.2-0ubuntu3.1 [108 kB]
Fetched 14.1 MB in 2s (6,609 kB/s)
Selecting previously unselected package fonts-droid-fallback.
(Reading database ... 155676 files and directories currently installed.)
Preparing to unpack .../00-fonts-droid-fallback_1%3a6.0.1r16-1.1_all.deb ...
Unpacking fonts-droid-fallback (1:6.0.1r16-1.1) ...
Selecting previously unselected package poppler-data.
Preparing to unpack .../01-poppler-data_0.4.8-2_all.deb ...
Unpacking poppler-data (0.4.8-2) ...
Selecting previously unselected package fonts-noto-mono.
Preparing to unpack .../02-fonts-noto-mono_20171026-2_all.deb ...
Unpacking fonts-noto-mono (20171026-2) ...
Selecting previously unselected package libcupsimage2:amd64.
Preparing to unpack .../03-libcupsimage2_2.2.7-1ubuntu2.9_amd64.deb ...
Unpacking libcupsimage2:amd64 (2.2.7-1ubuntu2.9) ...
Selecting previously unselected package libijs-0.35:amd64.
Preparing to unpack .../04-libijs-0.35_0.35-13_amd64.deb ...
Unpacking libijs-0.35:amd64 (0.35-13) ...
Selecting previously unselected package libjbig2dec0:amd64.
Preparing to unpack .../05-libjbig2dec0_0.13-6_amd64.deb ...
Unpacking libjbig2dec0:amd64 (0.13-6) ...
Selecting previously unselected package libgs9-common.
Preparing to unpack .../06-libgs9-common_9.26~dfsg+0-0ubuntu0.18.04.16_all.deb ...
Unpacking libgs9-common (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Selecting previously unselected package libgs9:amd64.
Preparing to unpack .../07-libgs9_9.26~dfsg+0-0ubuntu0.18.04.16_amd64.deb ...
Unpacking libgs9:amd64 (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Selecting previously unselected package ghostscript.
Preparing to unpack .../08-ghostscript_9.26~dfsg+0-0ubuntu0.18.04.16_amd64.deb ...
Unpacking ghostscript (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Selecting previously unselected package gsfonts.
Preparing to unpack .../09-gsfonts_1%3a8.11+urwcyr1.0.7~pre44-4.4_all.deb ...
Unpacking gsfonts (1:8.11+urwcyr1.0.7~pre44-4.4) ...
Selecting previously unselected package libcupsfilters1:amd64.
Preparing to unpack .../10-libcupsfilters1_1.20.2-0ubuntu3.1_amd64.deb ...
Unpacking libcupsfilters1:amd64 (1.20.2-0ubuntu3.1) ...
Setting up libgs9-common (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Setting up fonts-droid-fallback (1:6.0.1r16-1.1) ...
Setting up gsfonts (1:8.11+urwcyr1.0.7~pre44-4.4) ...
Setting up poppler-data (0.4.8-2) ...
Setting up fonts-noto-mono (20171026-2) ...
Setting up libcupsfilters1:amd64 (1.20.2-0ubuntu3.1) ...
Setting up libcupsimage2:amd64 (2.2.7-1ubuntu2.9) ...
Setting up libjbig2dec0:amd64 (0.13-6) ...
Setting up libijs-0.35:amd64 (0.35-13) ...
Setting up libgs9:amd64 (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Setting up ghostscript (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
Processing triggers for libc-bin (2.27-3ubuntu1.5) ...

In [3]:
!java -version

openjdk version "11.0.16" 2022-07-19
OpenJDK Runtime Environment (build 11.0.16+8-post-Ubuntu-0ubuntu118.04)
OpenJDK 64-Bit Server VM (build 11.0.16+8-post-Ubuntu-0ubuntu118.04, mixed mode, sharing)

In [4]:
!pip install -q tabula-py

     |████████████████████████████████| 12.0 MB 8.1 MB/s

In [5]:
import camelot as cam
import tabula
import pandas as pd

# MILKY MIST po 25.07.2022

In [25]:
table = cam.read_pdf("/content/drive/MyDrive/metro1/MILKY MIST  po  25.07.2022.pdf",
                     pages = 'all',
                     flavor = 'stream',
                     guess_table = False
                     #strip_text='\n'
                     #edge_tool = 500
                     #flag_size=True
                     )

In [26]:
df1 = table[1].df

In [27]:
df1

,0,1,2,3,4,5,6,7,8
0,,MW462R01(V9.1.032),Order Pool List,,,,,25.07.2022/17:19,16704/12\nPage\n2
1,Department,24,Assortment Class\nXX,,,,,,
2,SID,Order-No,DelivDate\nSupp,Supp-Name,,,,,Pkg-SP\nDate\nOrder-
3,,,,,,,Supp-,,
4,PMMG\nArt-No.,,Article Name,,Variant,BUC\nSUC,Art-No.,OCC\nPos-No.,PCD\nValue\nLast chng\nQty
5,12,220300142,25.07.22\n24939,MILKY MIST DAIRY FOOD PVT LTD,,,,,
6,210,339708.0,MILKYMIST TABLE BUTTER 500g,,STAND.VAR,1\n10,339708,128,120\n 31554.00\n22.07.22
7,217,176362.2,MILKY MIST KHOVA 1 kg,,STAND.VAR,1,176362,1 1 1\n128,120\n 35286.00\n22.07.22
8,215,380659.3,MILKYMIST BUCKET CURD 10 kg,,STAND.VAR,1 1\n 1,380038,128,30\n 24292.80\n22.07.22
9,,,No. of Items:,3,,,,Totals:,270.0 91132.80

In [28]:
#replacing "\n" with a single space

df1[0] = df1[0].str.replace("\n"," ")
df1[2] = df1[2].str.replace("\n"," ")
df1[5] = df1[5].str.replace("\n"," ")
df1[7] = df1[7].str.replace("\n"," ")
df1[8] = df1[8].str.replace("\n"," ")

In [30]:
# adding column name in specific location

df1.at[4,1] = "Art-No."

In [32]:
#spliting the merged column 

df1[5].str.split(n=1,expand = True)

      0       1
0  None    None
1  None    None
2  None    None
3  None    None
4   BUC     SUC
5  None    None
6     1      10
7     1    None
8     1  1    1
9  None    None

In [33]:
x = df1[5].str.split(n=1,expand = True)

In [34]:
#adding the splited column in dataframe
#df has 8 column. so adding the expanded column at 9
df1[9] = x[0]
df1[10] = x[1]

In [36]:
#split and add column 7 and 8

y = df1[7].str.split(n=1,expand = True)
z = df1[8].str.split(n=3,expand = True) #col 8 merged 4 col into 1

In [37]:
df1[11] = y[0]
df1[12] = y[1]
df1[13] = z[0]
df1[14] = z[1]
df1[15] = z[2]
df1[16] = z[3]

In [39]:
#drop the splited column

df1.drop([5,7,8],axis = 1,inplace = True)

In [41]:
#drop the 4 row

df1.drop([0,1,2,3],axis = 0,inplace = True)

In [43]:
#two col has same name.change one

df1[6] = df1[6].str.replace("-","")
df1[6] = df1[6].str.replace("."," ")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after removing the cwd from sys.path.

In [47]:
df1.columns = df1.iloc[0]
df1.drop([4],axis = 0,inplace = True)

In [49]:
df1.rename(columns = {'ArtNo':'Supp-Art-No', 'Last':'Last chng','chng Qty':'Qty'}, inplace = True)

In [51]:
df1.rename(columns = {'PMMG Art-No.':'PMMG', 'PCD':'Qty','Qty':'PCD'}, inplace = True)

In [53]:
df1.rename(columns = {'BUC':'SUC', 'SUC':'BUC','OCC':'Pos-No.','Pos-No.':'OCC'}, inplace = True)

In [54]:
df1

4,PMMG,Art-No.,Article Name,,Variant,ArtNo,SUC,BUC,Pos-No.,OCC,Qty,Value,Last chng,PCD
5,12,220300142,25.07.22 24939,MILKY MIST DAIRY FOOD PVT LTD,,,None,None,None,None,None,None,None,None
6,210,339708.0,MILKYMIST TABLE BUTTER 500g,,STAND.VAR,339708,1,10,128,None,120,31554.00,22.07.22,None
7,217,176362.2,MILKY MIST KHOVA 1 kg,,STAND.VAR,176362,1,None,1,1 1 128,120,35286.00,22.07.22,None
8,215,380659.3,MILKYMIST BUCKET CURD 10 kg,,STAND.VAR,380038,1,1 1,128,None,30,24292.80,22.07.22,None
9,,,No. of Items:,3,,,None,None,Totals:,None,270.0,91132.80,None,None

In [ ]:
# #define function to swap columns
# def swap_columns(df, col1, col2):
#     col_list = list(df.columns)
#     x, y = col_list.index(col1), col_list.index(col2)
#     col_list[y], col_list[x] = col_list[x], col_list[y]
#     df = df[col_list]
#     return df

# #swap points and rebounds columns
# df1 = swap_columns(df1, 'BUC', 'SUC')
# df1 = swap_columns(df1, 'OCC', 'Pos-No.')
# df1 = swap_columns(df1, 'OCC', 'Pos-No.')
# df1 = swap_columns(df1, 'OCC', 'Pos-No.')