<a href="https://colab.research.google.com/github/Robin-das-raam/Natural-Language-Processing/blob/main/Camelot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install "camelot-py[cv]" -q

     |████████████████████████████████| 40 kB 26 kB/s
     |████████████████████████████████| 5.6 MB 8.4 MB/s
     |████████████████████████████████| 214 kB 46.3 MB/s
     |████████████████████████████████| 11.7 MB 23.6 MB/s
     |████████████████████████████████| 4.1 MB 39.0 MB/s

In [2]:
!apt-get install ghostscript

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  fonts-droid-fallback fonts-noto-mono gsfonts libcupsfilters1 libcupsimage2
  libgs9 libgs9-common libijs-0.35 libjbig2dec0 poppler-data
Suggested packages:
  fonts-noto ghostscript-x poppler-utils fonts-japanese-mincho
  | fonts-ipafont-mincho fonts-japanese-gothic | fonts-ipafont-gothic
  fonts-arphic-ukai fonts-arphic-uming fonts-nanum
The following NEW packages will be installed:
  fonts-droid-fallback fonts-noto-mono ghostscript gsfonts libcupsfilters1
  libcupsimage2 libgs9 libgs9-common libijs-0.35 libjbig2dec0 poppler-data
0 upgraded, 11 newly installed, 0 to remove and 20 not upgraded.
Need to get 14.1 MB of archives.
After this operation, 49.9 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-droid-fallback all 1:6.0.1r16-1.1 [1,805 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/main amd64 poppler-data all 0.4.8-2 [1,479 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-noto-mono all 20171026-2 [75.5 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libcupsimage2 amd64 2.2.7-1ubuntu2.9 [18.6 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic/main amd64 libijs-0.35 amd64 0.35-13 [15.5 kB]
Get:6 http://archive.ubuntu.com/ubuntu bionic/main amd64 libjbig2dec0 amd64 0.13-6 [55.9 kB]
Get:7 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libgs9-common all 9.26~dfsg+0-0ubuntu0.18.04.16 [5,093 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libgs9 amd64 9.26~dfsg+0-0ubuntu0.18.04.16 [2,265 kB]
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 ghostscript amd64 9.26~dfsg+0-0ubuntu0.18.04.16 [51.3 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic/main amd64 gsfonts all 1:8.11+urwcyr1.0.7~pre44-4.4 [3,120 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libcupsfilters1 amd64 1.20.2-0ubuntu3.1 [108 kB]
Fetched 14.1 MB in 1s (23.1 MB/s)
Selecting previously unselected package fonts-droid-fallback.
(Reading database ... 155676 files and directories currently installed.)
Preparing to unpack .../00-fonts-droid-fallback_1%3a6.0.1r16-1.1_all.deb ...
Unpacking fonts-droid-fallback (1:6.0.1r16-1.1) ...
Selecting previously unselected package poppler-data.
Preparing to unpack .../01-poppler-data_0.4.8-2_all.deb ...
Unpacking poppler-data (0.4.8-2) ...
Selecting previously unselected package fonts-noto-mono.
Preparing to unpack .../02-fonts-noto-mono_20171026-2_all.deb ...
Unpacking fonts-noto-mono (20171026-2) ...
Selecting previously unselected package libcupsimage2:amd64.
Preparing to unpack .../03-libcupsimage2_2.2.7-1ubuntu2.9_amd64.deb ...
Unpacking libcupsimage2:amd64 (2.2.7-1ubuntu2.9) ...
Selecting previously unselected package libijs-0.35:amd64.
Preparing to unpack .../04-libijs-0.35_0.35-13_amd64.deb ...
Unpacking libijs-0.35:amd64 (0.35-13) ...
Selecting previously unselected package libjbig2dec0:amd64.
Preparing to unpack .../05-libjbig2dec0_0.13-6_amd64.deb ...
Unpacking libjbig2dec0:amd64 (0.13-6) ...
Selecting previously unselected package libgs9-common.
Preparing to unpack .../06-libgs9-common_9.26~dfsg+0-0ubuntu0.18.04.16_all.deb ...
Unpacking libgs9-common (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Selecting previously unselected package libgs9:amd64.
Preparing to unpack .../07-libgs9_9.26~dfsg+0-0ubuntu0.18.04.16_amd64.deb ...
Unpacking libgs9:amd64 (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Selecting previously unselected package ghostscript.
Preparing to unpack .../08-ghostscript_9.26~dfsg+0-0ubuntu0.18.04.16_amd64.deb ...
Unpacking ghostscript (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Selecting previously unselected package gsfonts.
Preparing to unpack .../09-gsfonts_1%3a8.11+urwcyr1.0.7~pre44-4.4_all.deb ...
Unpacking gsfonts (1:8.11+urwcyr1.0.7~pre44-4.4) ...
Selecting previously unselected package libcupsfilters1:amd64.
Preparing to unpack .../10-libcupsfilters1_1.20.2-0ubuntu3.1_amd64.deb ...
Unpacking libcupsfilters1:amd64 (1.20.2-0ubuntu3.1) ...
Setting up libgs9-common (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Setting up fonts-droid-fallback (1:6.0.1r16-1.1) ...
Setting up gsfonts (1:8.11+urwcyr1.0.7~pre44-4.4) ...
Setting up poppler-data (0.4.8-2) ...
Setting up fonts-noto-mono (20171026-2) ...
Setting up libcupsfilters1:amd64 (1.20.2-0ubuntu3.1) ...
Setting up libcupsimage2:amd64 (2.2.7-1ubuntu2.9) ...
Setting up libjbig2dec0:amd64 (0.13-6) ...
Setting up libijs-0.35:amd64 (0.35-13) ...
Setting up libgs9:amd64 (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Setting up ghostscript (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
Processing triggers for libc-bin (2.27-3ubuntu1.5) ...

In [3]:
import camelot as cam

In [99]:
tab = cam.read_pdf("/content/drive/MyDrive/metro1/MILKY MIST  PO 27.07.2022.pdf",
                     pages = 'all',
                     flavor = 'stream',
                     #strip_text='\n',
                     #edge_tool = 500
                     #flag_size=True
                     )

In [100]:
dff = tab[1].df

In [101]:
dff

,0,1,2,3,4,5,6,7,8,9,10,11
0,,MW462R01(V9.1.032),Order Pool List,,,,,27.07.2022/16:42,,,16704/12,Page\n2
1,Department,24,Assortment Class\nXX,,,,,,,,,
2,SID,Order-No,DelivDate\nSupp,Supp-Name,,,,,,Order-,Pkg-SP,Date
3,,,,,,,Supp-,,,,,
4,PMMG,Art-No.,Article Name,,Variant,BUC\nSUC,Art-No.,Pos-No.,OCC,Qty,Value,PCD\nLast chng
5,12,220800188,30.07.22\n24939,MILKY MIST DAIRY FOOD PVT LTD,,,,,,,,
6,210,370394.9,MILKYMIST TABLE BUTTER 100g,,STAND.VAR,1\n1,370394,,128,50,2884.00,27.07.22
7,217,429889.9,MILKYMIST SHRKAND BDM PSTA400g,,STAND.-VAR.,1\n12,427703,,128,12,1302.84,27.07.22
8,215,320287.6,MILKYMIST KHOVA 200g,,STAND.VAR,1,320287,,128,20,1538.00,27.07.22
9,215,320296.7,MILKYMIST POUCH CURD 500 g,,STAND.VAR,1 1\n 1,320296,,128,100,3981.00,27.07.22
10,215,342755.6,MILKYMIST POUCH CURD 1 l,,STAND.VAR,1\n10,342755,,128,100,8143.00,27.07.22
11,215,327660.7,MILKY MIST SET CURD BUCKET 1 k,,STAND.VAR,1,327660,,128,36,4234.32,27.07.22
12,215,388667.8,MILKYMIST SET CURD BUCKET 5 kg,,STAND.VAR,9 1 1\n 1,387492,1 1 1 1 1 1 1 1 1 1 1 1 1,128,30,11807.10,27.07.22
13,215,380659.3,MILKYMIST BUCKET CURD 10 kg,,STAND.VAR,1,380038,,128,30,24292.80,27.07.22
14,215,374364.8,MILKYMIST FRUT YOGRT BLUEBRY10,,STAND.VAR,1\n24,374198,,128,120,5971.20,27.07.22
15,216,408989.2,MILKY MIST MILK CREAM 200ml,,STAND.-VAR.,1\n30,407557,,128,120,6840.00,27.07.22
16,216,408988.4,MILKY MIST MILK CREAM 1l,,STAND.-VAR.,1\n12,407556,,128,600,142500.00,27.07.22
17,219,137575.7,MILKY MIST PANEER 1 kg,,STAND.VAR,1\n1,137575,,128,300,118287.00,27.07.22
18,214,405316.1,MILKYMIST MSHAKECHOCO 180 ml,,STAND.-VAR.,1\n30,403863,,128,240,7125.60,27.07.22
19,,,No. of Items:,13,,,,Totals:,,1758.0 338906.86,,

In [103]:
dff[5] = dff[5].str.replace("\n","  ")

In [104]:
dff

,0,1,2,3,4,5,6,7,8,9,10,11
0,,MW462R01(V9.1.032),Order Pool List,,,,,27.07.2022/16:42,,,16704/12,Page\n2
1,Department,24,Assortment Class\nXX,,,,,,,,,
2,SID,Order-No,DelivDate\nSupp,Supp-Name,,,,,,Order-,Pkg-SP,Date
3,,,,,,,Supp-,,,,,
4,PMMG,Art-No.,Article Name,,Variant,BUC SUC,Art-No.,Pos-No.,OCC,Qty,Value,PCD\nLast chng
5,12,220800188,30.07.22\n24939,MILKY MIST DAIRY FOOD PVT LTD,,,,,,,,
6,210,370394.9,MILKYMIST TABLE BUTTER 100g,,STAND.VAR,1 1,370394,,128,50,2884.00,27.07.22
7,217,429889.9,MILKYMIST SHRKAND BDM PSTA400g,,STAND.-VAR.,1 12,427703,,128,12,1302.84,27.07.22
8,215,320287.6,MILKYMIST KHOVA 200g,,STAND.VAR,1,320287,,128,20,1538.00,27.07.22
9,215,320296.7,MILKYMIST POUCH CURD 500 g,,STAND.VAR,1 1 1,320296,,128,100,3981.00,27.07.22
10,215,342755.6,MILKYMIST POUCH CURD 1 l,,STAND.VAR,1 10,342755,,128,100,8143.00,27.07.22
11,215,327660.7,MILKY MIST SET CURD BUCKET 1 k,,STAND.VAR,1,327660,,128,36,4234.32,27.07.22
12,215,388667.8,MILKYMIST SET CURD BUCKET 5 kg,,STAND.VAR,9 1 1 1,387492,1 1 1 1 1 1 1 1 1 1 1 1 1,128,30,11807.10,27.07.22
13,215,380659.3,MILKYMIST BUCKET CURD 10 kg,,STAND.VAR,1,380038,,128,30,24292.80,27.07.22
14,215,374364.8,MILKYMIST FRUT YOGRT BLUEBRY10,,STAND.VAR,1 24,374198,,128,120,5971.20,27.07.22
15,216,408989.2,MILKY MIST MILK CREAM 200ml,,STAND.-VAR.,1 30,407557,,128,120,6840.00,27.07.22
16,216,408988.4,MILKY MIST MILK CREAM 1l,,STAND.-VAR.,1 12,407556,,128,600,142500.00,27.07.22
17,219,137575.7,MILKY MIST PANEER 1 kg,,STAND.VAR,1 1,137575,,128,300,118287.00,27.07.22
18,214,405316.1,MILKYMIST MSHAKECHOCO 180 ml,,STAND.-VAR.,1 30,403863,,128,240,7125.60,27.07.22
19,,,No. of Items:,13,,,,Totals:,,1758.0 338906.86,,

In [105]:
dff.drop([0,1,2,3],axis = 0,inplace = True)

In [106]:
dff

,0,1,2,3,4,5,6,7,8,9,10,11
4,PMMG,Art-No.,Article Name,,Variant,BUC SUC,Art-No.,Pos-No.,OCC,Qty,Value,PCD\nLast chng
5,12,220800188,30.07.22\n24939,MILKY MIST DAIRY FOOD PVT LTD,,,,,,,,
6,210,370394.9,MILKYMIST TABLE BUTTER 100g,,STAND.VAR,1 1,370394,,128,50,2884.00,27.07.22
7,217,429889.9,MILKYMIST SHRKAND BDM PSTA400g,,STAND.-VAR.,1 12,427703,,128,12,1302.84,27.07.22
8,215,320287.6,MILKYMIST KHOVA 200g,,STAND.VAR,1,320287,,128,20,1538.00,27.07.22
9,215,320296.7,MILKYMIST POUCH CURD 500 g,,STAND.VAR,1 1 1,320296,,128,100,3981.00,27.07.22
10,215,342755.6,MILKYMIST POUCH CURD 1 l,,STAND.VAR,1 10,342755,,128,100,8143.00,27.07.22
11,215,327660.7,MILKY MIST SET CURD BUCKET 1 k,,STAND.VAR,1,327660,,128,36,4234.32,27.07.22
12,215,388667.8,MILKYMIST SET CURD BUCKET 5 kg,,STAND.VAR,9 1 1 1,387492,1 1 1 1 1 1 1 1 1 1 1 1 1,128,30,11807.10,27.07.22
13,215,380659.3,MILKYMIST BUCKET CURD 10 kg,,STAND.VAR,1,380038,,128,30,24292.80,27.07.22
14,215,374364.8,MILKYMIST FRUT YOGRT BLUEBRY10,,STAND.VAR,1 24,374198,,128,120,5971.20,27.07.22
15,216,408989.2,MILKY MIST MILK CREAM 200ml,,STAND.-VAR.,1 30,407557,,128,120,6840.00,27.07.22
16,216,408988.4,MILKY MIST MILK CREAM 1l,,STAND.-VAR.,1 12,407556,,128,600,142500.00,27.07.22
17,219,137575.7,MILKY MIST PANEER 1 kg,,STAND.VAR,1 1,137575,,128,300,118287.00,27.07.22
18,214,405316.1,MILKYMIST MSHAKECHOCO 180 ml,,STAND.-VAR.,1 30,403863,,128,240,7125.60,27.07.22
19,,,No. of Items:,13,,,,Totals:,,1758.0 338906.86,,

In [108]:
dff.columns = dff.iloc[0]
dff

4,PMMG,Art-No.,Article Name,,Variant,BUC SUC,Art-No.,Pos-No.,OCC,Qty,Value,PCD\nLast chng
4,PMMG,Art-No.,Article Name,,Variant,BUC SUC,Art-No.,Pos-No.,OCC,Qty,Value,PCD\nLast chng
5,12,220800188,30.07.22\n24939,MILKY MIST DAIRY FOOD PVT LTD,,,,,,,,
6,210,370394.9,MILKYMIST TABLE BUTTER 100g,,STAND.VAR,1 1,370394,,128,50,2884.00,27.07.22
7,217,429889.9,MILKYMIST SHRKAND BDM PSTA400g,,STAND.-VAR.,1 12,427703,,128,12,1302.84,27.07.22
8,215,320287.6,MILKYMIST KHOVA 200g,,STAND.VAR,1,320287,,128,20,1538.00,27.07.22
9,215,320296.7,MILKYMIST POUCH CURD 500 g,,STAND.VAR,1 1 1,320296,,128,100,3981.00,27.07.22
10,215,342755.6,MILKYMIST POUCH CURD 1 l,,STAND.VAR,1 10,342755,,128,100,8143.00,27.07.22
11,215,327660.7,MILKY MIST SET CURD BUCKET 1 k,,STAND.VAR,1,327660,,128,36,4234.32,27.07.22
12,215,388667.8,MILKYMIST SET CURD BUCKET 5 kg,,STAND.VAR,9 1 1 1,387492,1 1 1 1 1 1 1 1 1 1 1 1 1,128,30,11807.10,27.07.22
13,215,380659.3,MILKYMIST BUCKET CURD 10 kg,,STAND.VAR,1,380038,,128,30,24292.80,27.07.22
14,215,374364.8,MILKYMIST FRUT YOGRT BLUEBRY10,,STAND.VAR,1 24,374198,,128,120,5971.20,27.07.22
15,216,408989.2,MILKY MIST MILK CREAM 200ml,,STAND.-VAR.,1 30,407557,,128,120,6840.00,27.07.22
16,216,408988.4,MILKY MIST MILK CREAM 1l,,STAND.-VAR.,1 12,407556,,128,600,142500.00,27.07.22
17,219,137575.7,MILKY MIST PANEER 1 kg,,STAND.VAR,1 1,137575,,128,300,118287.00,27.07.22
18,214,405316.1,MILKYMIST MSHAKECHOCO 180 ml,,STAND.-VAR.,1 30,403863,,128,240,7125.60,27.07.22
19,,,No. of Items:,13,,,,Totals:,,1758.0 338906.86,,

In [109]:
dff.drop([4],axis = 0,inplace = True)
dff

4,PMMG,Art-No.,Article Name,,Variant,BUC SUC,Art-No.,Pos-No.,OCC,Qty,Value,PCD\nLast chng
5,12,220800188,30.07.22\n24939,MILKY MIST DAIRY FOOD PVT LTD,,,,,,,,
6,210,370394.9,MILKYMIST TABLE BUTTER 100g,,STAND.VAR,1 1,370394,,128,50,2884.00,27.07.22
7,217,429889.9,MILKYMIST SHRKAND BDM PSTA400g,,STAND.-VAR.,1 12,427703,,128,12,1302.84,27.07.22
8,215,320287.6,MILKYMIST KHOVA 200g,,STAND.VAR,1,320287,,128,20,1538.00,27.07.22
9,215,320296.7,MILKYMIST POUCH CURD 500 g,,STAND.VAR,1 1 1,320296,,128,100,3981.00,27.07.22
10,215,342755.6,MILKYMIST POUCH CURD 1 l,,STAND.VAR,1 10,342755,,128,100,8143.00,27.07.22
11,215,327660.7,MILKY MIST SET CURD BUCKET 1 k,,STAND.VAR,1,327660,,128,36,4234.32,27.07.22
12,215,388667.8,MILKYMIST SET CURD BUCKET 5 kg,,STAND.VAR,9 1 1 1,387492,1 1 1 1 1 1 1 1 1 1 1 1 1,128,30,11807.10,27.07.22
13,215,380659.3,MILKYMIST BUCKET CURD 10 kg,,STAND.VAR,1,380038,,128,30,24292.80,27.07.22
14,215,374364.8,MILKYMIST FRUT YOGRT BLUEBRY10,,STAND.VAR,1 24,374198,,128,120,5971.20,27.07.22
15,216,408989.2,MILKY MIST MILK CREAM 200ml,,STAND.-VAR.,1 30,407557,,128,120,6840.00,27.07.22
16,216,408988.4,MILKY MIST MILK CREAM 1l,,STAND.-VAR.,1 12,407556,,128,600,142500.00,27.07.22
17,219,137575.7,MILKY MIST PANEER 1 kg,,STAND.VAR,1 1,137575,,128,300,118287.00,27.07.22
18,214,405316.1,MILKYMIST MSHAKECHOCO 180 ml,,STAND.-VAR.,1 30,403863,,128,240,7125.60,27.07.22
19,,,No. of Items:,13,,,,Totals:,,1758.0 338906.86,,

In [90]:
dff["Pos-No."]

5
6
7
8
9
10
11
12    1 1 1 1 1 1 1 1 1 1 1 1 1
13
14
15
16
17
18
19                      Totals:
Name: Pos-No., dtype: object

In [110]:
dff["Pos-No."] = dff["Pos-No."].replace("1 1 1 1 1 1 1 1 1 1 1 1 1","1")

In [111]:
dff.loc[dff['PCD\nLast chng'] == "27.07.22", 'Pos-No.'] = 1

In [112]:
dff

4,PMMG,Art-No.,Article Name,,Variant,BUC SUC,Art-No.,Pos-No.,OCC,Qty,Value,PCD\nLast chng
5,12,220800188,30.07.22\n24939,MILKY MIST DAIRY FOOD PVT LTD,,,,,,,,
6,210,370394.9,MILKYMIST TABLE BUTTER 100g,,STAND.VAR,1 1,370394,1,128,50,2884.00,27.07.22
7,217,429889.9,MILKYMIST SHRKAND BDM PSTA400g,,STAND.-VAR.,1 12,427703,1,128,12,1302.84,27.07.22
8,215,320287.6,MILKYMIST KHOVA 200g,,STAND.VAR,1,320287,1,128,20,1538.00,27.07.22
9,215,320296.7,MILKYMIST POUCH CURD 500 g,,STAND.VAR,1 1 1,320296,1,128,100,3981.00,27.07.22
10,215,342755.6,MILKYMIST POUCH CURD 1 l,,STAND.VAR,1 10,342755,1,128,100,8143.00,27.07.22
11,215,327660.7,MILKY MIST SET CURD BUCKET 1 k,,STAND.VAR,1,327660,1,128,36,4234.32,27.07.22
12,215,388667.8,MILKYMIST SET CURD BUCKET 5 kg,,STAND.VAR,9 1 1 1,387492,1,128,30,11807.10,27.07.22
13,215,380659.3,MILKYMIST BUCKET CURD 10 kg,,STAND.VAR,1,380038,1,128,30,24292.80,27.07.22
14,215,374364.8,MILKYMIST FRUT YOGRT BLUEBRY10,,STAND.VAR,1 24,374198,1,128,120,5971.20,27.07.22
15,216,408989.2,MILKY MIST MILK CREAM 200ml,,STAND.-VAR.,1 30,407557,1,128,120,6840.00,27.07.22
16,216,408988.4,MILKY MIST MILK CREAM 1l,,STAND.-VAR.,1 12,407556,1,128,600,142500.00,27.07.22
17,219,137575.7,MILKY MIST PANEER 1 kg,,STAND.VAR,1 1,137575,1,128,300,118287.00,27.07.22
18,214,405316.1,MILKYMIST MSHAKECHOCO 180 ml,,STAND.-VAR.,1 30,403863,1,128,240,7125.60,27.07.22
19,,,No. of Items:,13,,,,Totals:,,1758.0 338906.86,,

In [113]:
dff.columns  = dff.columns.str.replace("PCD\nLast chng","Last chng  PCD")

In [114]:
dff

4,PMMG,Art-No.,Article Name,,Variant,BUC SUC,Art-No.,Pos-No.,OCC,Qty,Value,Last chng PCD
5,12,220800188,30.07.22\n24939,MILKY MIST DAIRY FOOD PVT LTD,,,,,,,,
6,210,370394.9,MILKYMIST TABLE BUTTER 100g,,STAND.VAR,1 1,370394,1,128,50,2884.00,27.07.22
7,217,429889.9,MILKYMIST SHRKAND BDM PSTA400g,,STAND.-VAR.,1 12,427703,1,128,12,1302.84,27.07.22
8,215,320287.6,MILKYMIST KHOVA 200g,,STAND.VAR,1,320287,1,128,20,1538.00,27.07.22
9,215,320296.7,MILKYMIST POUCH CURD 500 g,,STAND.VAR,1 1 1,320296,1,128,100,3981.00,27.07.22
10,215,342755.6,MILKYMIST POUCH CURD 1 l,,STAND.VAR,1 10,342755,1,128,100,8143.00,27.07.22
11,215,327660.7,MILKY MIST SET CURD BUCKET 1 k,,STAND.VAR,1,327660,1,128,36,4234.32,27.07.22
12,215,388667.8,MILKYMIST SET CURD BUCKET 5 kg,,STAND.VAR,9 1 1 1,387492,1,128,30,11807.10,27.07.22
13,215,380659.3,MILKYMIST BUCKET CURD 10 kg,,STAND.VAR,1,380038,1,128,30,24292.80,27.07.22
14,215,374364.8,MILKYMIST FRUT YOGRT BLUEBRY10,,STAND.VAR,1 24,374198,1,128,120,5971.20,27.07.22
15,216,408989.2,MILKY MIST MILK CREAM 200ml,,STAND.-VAR.,1 30,407557,1,128,120,6840.00,27.07.22
16,216,408988.4,MILKY MIST MILK CREAM 1l,,STAND.-VAR.,1 12,407556,1,128,600,142500.00,27.07.22
17,219,137575.7,MILKY MIST PANEER 1 kg,,STAND.VAR,1 1,137575,1,128,300,118287.00,27.07.22
18,214,405316.1,MILKYMIST MSHAKECHOCO 180 ml,,STAND.-VAR.,1 30,403863,1,128,240,7125.60,27.07.22
19,,,No. of Items:,13,,,,Totals:,,1758.0 338906.86,,

In [115]:
dff.columns  = dff.columns.str.replace("BUCSUC","BUC SUC")

In [116]:
dff

4,PMMG,Art-No.,Article Name,,Variant,BUC SUC,Art-No.,Pos-No.,OCC,Qty,Value,Last chng PCD
5,12,220800188,30.07.22\n24939,MILKY MIST DAIRY FOOD PVT LTD,,,,,,,,
6,210,370394.9,MILKYMIST TABLE BUTTER 100g,,STAND.VAR,1 1,370394,1,128,50,2884.00,27.07.22
7,217,429889.9,MILKYMIST SHRKAND BDM PSTA400g,,STAND.-VAR.,1 12,427703,1,128,12,1302.84,27.07.22
8,215,320287.6,MILKYMIST KHOVA 200g,,STAND.VAR,1,320287,1,128,20,1538.00,27.07.22
9,215,320296.7,MILKYMIST POUCH CURD 500 g,,STAND.VAR,1 1 1,320296,1,128,100,3981.00,27.07.22
10,215,342755.6,MILKYMIST POUCH CURD 1 l,,STAND.VAR,1 10,342755,1,128,100,8143.00,27.07.22
11,215,327660.7,MILKY MIST SET CURD BUCKET 1 k,,STAND.VAR,1,327660,1,128,36,4234.32,27.07.22
12,215,388667.8,MILKYMIST SET CURD BUCKET 5 kg,,STAND.VAR,9 1 1 1,387492,1,128,30,11807.10,27.07.22
13,215,380659.3,MILKYMIST BUCKET CURD 10 kg,,STAND.VAR,1,380038,1,128,30,24292.80,27.07.22
14,215,374364.8,MILKYMIST FRUT YOGRT BLUEBRY10,,STAND.VAR,1 24,374198,1,128,120,5971.20,27.07.22
15,216,408989.2,MILKY MIST MILK CREAM 200ml,,STAND.-VAR.,1 30,407557,1,128,120,6840.00,27.07.22
16,216,408988.4,MILKY MIST MILK CREAM 1l,,STAND.-VAR.,1 12,407556,1,128,600,142500.00,27.07.22
17,219,137575.7,MILKY MIST PANEER 1 kg,,STAND.VAR,1 1,137575,1,128,300,118287.00,27.07.22
18,214,405316.1,MILKYMIST MSHAKECHOCO 180 ml,,STAND.-VAR.,1 30,403863,1,128,240,7125.60,27.07.22
19,,,No. of Items:,13,,,,Totals:,,1758.0 338906.86,,

In [123]:
new_df = dff

In [129]:
dff.to_csv("/content/drive/MyDrive/metro1/MILKY MIST  PO 27.07.2022.csv")