<a href="https://colab.research.google.com/github/Robin-das-raam/Natural-Language-Processing/blob/main/camelot_table_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install "camelot-py[cv]" -q

     |████████████████████████████████| 40 kB 27 kB/s
     |████████████████████████████████| 5.6 MB 48.9 MB/s
     |████████████████████████████████| 214 kB 69.9 MB/s
     |████████████████████████████████| 11.7 MB 52.6 MB/s
     |████████████████████████████████| 4.1 MB 49.7 MB/s

In [3]:
!apt-get install ghostscript

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  fonts-droid-fallback fonts-noto-mono gsfonts libcupsfilters1 libcupsimage2
  libgs9 libgs9-common libijs-0.35 libjbig2dec0 poppler-data
Suggested packages:
  fonts-noto ghostscript-x poppler-utils fonts-japanese-mincho
  | fonts-ipafont-mincho fonts-japanese-gothic | fonts-ipafont-gothic
  fonts-arphic-ukai fonts-arphic-uming fonts-nanum
The following NEW packages will be installed:
  fonts-droid-fallback fonts-noto-mono ghostscript gsfonts libcupsfilters1
  libcupsimage2 libgs9 libgs9-common libijs-0.35 libjbig2dec0 poppler-data
0 upgraded, 11 newly installed, 0 to remove and 20 not upgraded.
Need to get 14.1 MB of archives.
After this operation, 49.9 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-droid-fallback all 1:6.0.1r16-1.1 [1,805 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/main amd64 poppler-data all 0.4.8-2 [1,479 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-noto-mono all 20171026-2 [75.5 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libcupsimage2 amd64 2.2.7-1ubuntu2.9 [18.6 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic/main amd64 libijs-0.35 amd64 0.35-13 [15.5 kB]
Get:6 http://archive.ubuntu.com/ubuntu bionic/main amd64 libjbig2dec0 amd64 0.13-6 [55.9 kB]
Get:7 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libgs9-common all 9.26~dfsg+0-0ubuntu0.18.04.16 [5,093 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libgs9 amd64 9.26~dfsg+0-0ubuntu0.18.04.16 [2,265 kB]
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 ghostscript amd64 9.26~dfsg+0-0ubuntu0.18.04.16 [51.3 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic/main amd64 gsfonts all 1:8.11+urwcyr1.0.7~pre44-4.4 [3,120 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libcupsfilters1 amd64 1.20.2-0ubuntu3.1 [108 kB]
Fetched 14.1 MB in 0s (49.4 MB/s)
Selecting previously unselected package fonts-droid-fallback.
(Reading database ... 155676 files and directories currently installed.)
Preparing to unpack .../00-fonts-droid-fallback_1%3a6.0.1r16-1.1_all.deb ...
Unpacking fonts-droid-fallback (1:6.0.1r16-1.1) ...
Selecting previously unselected package poppler-data.
Preparing to unpack .../01-poppler-data_0.4.8-2_all.deb ...
Unpacking poppler-data (0.4.8-2) ...
Selecting previously unselected package fonts-noto-mono.
Preparing to unpack .../02-fonts-noto-mono_20171026-2_all.deb ...
Unpacking fonts-noto-mono (20171026-2) ...
Selecting previously unselected package libcupsimage2:amd64.
Preparing to unpack .../03-libcupsimage2_2.2.7-1ubuntu2.9_amd64.deb ...
Unpacking libcupsimage2:amd64 (2.2.7-1ubuntu2.9) ...
Selecting previously unselected package libijs-0.35:amd64.
Preparing to unpack .../04-libijs-0.35_0.35-13_amd64.deb ...
Unpacking libijs-0.35:amd64 (0.35-13) ...
Selecting previously unselected package libjbig2dec0:amd64.
Preparing to unpack .../05-libjbig2dec0_0.13-6_amd64.deb ...
Unpacking libjbig2dec0:amd64 (0.13-6) ...
Selecting previously unselected package libgs9-common.
Preparing to unpack .../06-libgs9-common_9.26~dfsg+0-0ubuntu0.18.04.16_all.deb ...
Unpacking libgs9-common (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Selecting previously unselected package libgs9:amd64.
Preparing to unpack .../07-libgs9_9.26~dfsg+0-0ubuntu0.18.04.16_amd64.deb ...
Unpacking libgs9:amd64 (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Selecting previously unselected package ghostscript.
Preparing to unpack .../08-ghostscript_9.26~dfsg+0-0ubuntu0.18.04.16_amd64.deb ...
Unpacking ghostscript (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Selecting previously unselected package gsfonts.
Preparing to unpack .../09-gsfonts_1%3a8.11+urwcyr1.0.7~pre44-4.4_all.deb ...
Unpacking gsfonts (1:8.11+urwcyr1.0.7~pre44-4.4) ...
Selecting previously unselected package libcupsfilters1:amd64.
Preparing to unpack .../10-libcupsfilters1_1.20.2-0ubuntu3.1_amd64.deb ...
Unpacking libcupsfilters1:amd64 (1.20.2-0ubuntu3.1) ...
Setting up libgs9-common (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Setting up fonts-droid-fallback (1:6.0.1r16-1.1) ...
Setting up gsfonts (1:8.11+urwcyr1.0.7~pre44-4.4) ...
Setting up poppler-data (0.4.8-2) ...
Setting up fonts-noto-mono (20171026-2) ...
Setting up libcupsfilters1:amd64 (1.20.2-0ubuntu3.1) ...
Setting up libcupsimage2:amd64 (2.2.7-1ubuntu2.9) ...
Setting up libjbig2dec0:amd64 (0.13-6) ...
Setting up libijs-0.35:amd64 (0.35-13) ...
Setting up libgs9:amd64 (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Setting up ghostscript (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
Processing triggers for libc-bin (2.27-3ubuntu1.5) ...

In [4]:
!java -version

openjdk version "11.0.16" 2022-07-19
OpenJDK Runtime Environment (build 11.0.16+8-post-Ubuntu-0ubuntu118.04)
OpenJDK 64-Bit Server VM (build 11.0.16+8-post-Ubuntu-0ubuntu118.04, mixed mode, sharing)

In [5]:
!pip install -q tabula-py

     |████████████████████████████████| 12.0 MB 29.3 MB/s

In [6]:
import camelot as cam
import tabula
import pandas as pd

# MILKY MIST po 25.07.2022

In [54]:
table = cam.read_pdf("/content/drive/MyDrive/metro1/MILKY MIST  po  25.07.2022.pdf",
                     pages = 'all',
                     flavor = 'stream',
                     guess_table = True
                     #strip_text='\n'
                     #edge_tool = 500
                     #flag_size=True
                     )

In [8]:
df1 = table[1].df

In [13]:
#df1[7].str.replace("\n","")

In [17]:
#df1[7].str.split("\n",n=1,expand = True)

In [18]:
#df1[5].str.split(n=1,expand = True)

In [55]:
#df1

In [9]:
#replacing "\n" with a single space

df1[0] = df1[0].str.replace("\n"," ")
df1[2] = df1[2].str.replace("\n"," ")
df1[5] = df1[5].str.replace("\n"," ")
df1[7] = df1[7].str.replace("\n"," ")
df1[8] = df1[8].str.replace("\n"," ")

In [10]:
# adding column name in specific location

df1.at[4,1] = "Art-No."

In [56]:
#spliting the merged column 

#df1[5].str.split(n=1,expand = True)

In [11]:
x = df1[5].str.split(n=1,expand = True)

In [12]:
#adding the splited column in dataframe
#df has 8 column. so adding the expanded column at 9
df1[9] = x[0]
df1[10] = x[1]

In [13]:
#split and add column 7 and 8

y = df1[7].str.split(n=1,expand = True)
z = df1[8].str.split(n=3,expand = True) #col 8 merged 4 col into 1

In [28]:
#z

In [53]:
#df1

In [14]:
df1[11] = y[0]
df1[12] = y[1]
df1[13] = z[0]
df1[14] = z[1]
df1[15] = z[2]
df1[16] = z[3]

In [15]:
#drop the splited column

df1.drop([5,7,8],axis = 1,inplace = True)

In [16]:
#drop the 4 row

df1.drop([0,1,2,3],axis = 0,inplace = True)

In [17]:
#two col has same name.change one

df1[6] = df1[6].str.replace("-","")
df1[6] = df1[6].str.replace("."," ")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after removing the cwd from sys.path.

In [18]:
df1.columns = df1.iloc[0]
df1.drop([4],axis = 0,inplace = True)

In [19]:
df1

4,PMMG Art-No.,Art-No.,Article Name,,Variant,ArtNo,BUC,SUC,OCC,Pos-No.,PCD,Value,Last,chng Qty
5,12,220300142,25.07.22 24939,MILKY MIST DAIRY FOOD PVT LTD,,,None,None,None,None,None,None,None,None
6,210,339708.0,MILKYMIST TABLE BUTTER 500g,,STAND.VAR,339708,1,10,128,None,120,31554.00,22.07.22,None
7,217,176362.2,MILKY MIST KHOVA 1 kg,,STAND.VAR,176362,1,None,1,1 1 128,120,35286.00,22.07.22,None
8,215,380659.3,MILKYMIST BUCKET CURD 10 kg,,STAND.VAR,380038,1,1 1,128,None,30,24292.80,22.07.22,None
9,,,No. of Items:,3,,,None,None,Totals:,None,270.0,91132.80,None,None

In [20]:
df1.rename(columns = {'ArtNo':'Supp-Art-No', 'Last':'Last chng','chng Qty':'Qty'}, inplace = True)

In [21]:
df1.rename(columns = {'PMMG Art-No.':'PMMG', 'PCD':'Qty','Qty':'PCD'}, inplace = True)

In [22]:
df1.rename(columns = {'BUC':'SUC', 'SUC':'BUC'}, inplace = True)

In [35]:
df1.fillna("",inplace = True)

In [23]:
df1["Pos-No."] = df1["Pos-No."].replace("1 1 128","1")
df1.loc[df1['Last chng'] == "22.07.22", 'Pos-No.'] = 1

In [24]:
df1["OCC"] = df1["OCC"].replace("1","128")

In [57]:
#df1

In [39]:
df1["BUC"] = df1["BUC"].replace("1 1","1")
#df1["BUC"] = df1["BUC"].replace("","1")

In [51]:
df_1 = df1.copy()

In [52]:
df_1

4,PMMG,Art-No.,Article Name,,Variant,ArtNo,SUC,BUC,OCC,Pos-No.,Qty,Value,Last chng,PCD
5,12,220300142,25.07.22 24939,MILKY MIST DAIRY FOOD PVT LTD,,,,,,,,,,
6,210,339708.0,MILKYMIST TABLE BUTTER 500g,,STAND.VAR,339708,1,10,128,1,120,31554.00,22.07.22,
7,217,176362.2,MILKY MIST KHOVA 1 kg,,STAND.VAR,176362,1,,128,1,120,35286.00,22.07.22,
8,215,380659.3,MILKYMIST BUCKET CURD 10 kg,,STAND.VAR,380038,1,1 1,128,1,30,24292.80,22.07.22,
9,,,No. of Items:,3,,,,,Totals:,,270.0,91132.80,,

In [ ]:
# #define function to swap columns
# def swap_columns(df, col1, col2):
#     col_list = list(df.columns)
#     x, y = col_list.index(col1), col_list.index(col2)
#     col_list[y], col_list[x] = col_list[x], col_list[y]
#     df = df[col_list]
#     return df

# #swap points and rebounds columns
# df1 = swap_columns(df1, 'BUC', 'SUC')
# df1 = swap_columns(df1, 'OCC', 'Pos-No.')
# df1 = swap_columns(df1, 'OCC', 'Pos-No.')
# df1 = swap_columns(df1, 'OCC', 'Pos-No.')

In [58]:
df2 = table[2].df

In [59]:
df2[2] = df2[2].str.replace("\n"," ")
df2[7] = df2[7].str.replace("-","")
df2[7] = df2[7].str.replace("."," ")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

In [61]:
df2.drop([0,1,2,3],axis = 0,inplace = True)

In [63]:
df2.drop([14],axis = 1, inplace = True)

In [65]:
df2.columns = df2.iloc[0]
df2.drop([4],axis = 0,inplace = True)

In [67]:
df2["Pos-No."] = df2["Pos-No."].replace("1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1","1")
df2.loc[df2['Last chng'] == "24.07.22", 'Pos-No.'] = 1

In [83]:
df2

4,PMMG,Art-No.,Article Name,,Variant,SUC,ArtNo,Pos-No.,OCC,Qty,Value,Last chng,PCD,BUC
0,12,220500035,27.07.22 24939,MILKY MIST DAIRY FOOD PVT LTD,,,,,,,,,,
1,217,429890.7,MILKYMIST SHRIKAND ELLACHI250g,,STAND.-VAR.,1,427704,1,128,24,1737.12,24.07.22,,24.0
2,217,429888.1,MILKYMIST SHRIKND BDM PSTA100g,,STAND.-VAR.,1,427702,1,128,24,803.52,24.07.22,,24.0
3,216,408988.4,MILKY MIST MILK CREAM 1l,,STAND.-VAR.,1,407556,1,128,180,42750.00,24.07.22,,12.0
4,215,380659.3,MILKYMIST BUCKET CURD 10 kg,,STAND.VAR,1,380038,1,128,15,12146.40,24.07.22,,1.0
5,215,372012.5,MILKYMIST SET CURD 200g,,STAND.VAR,1,372012,1,128,24,651.36,24.07.22,,1.0
6,217,345689.4,BRIYA'S 'TOFU PANEER 200g,,STAND.VAR,1,345689,1,128,48,3691.20,24.07.22,,16.0
7,215,342755.6,MILKYMIST POUCH CURD 1 l,,STAND.VAR,1,342755,1,128,100,7690.00,24.07.22,,10.0
8,219,264679.2,MILKY MIST PRM PANEER 200g,,STAND.VAR,1,264679,1,128,60,5808.60,24.07.22,,30.0
9,219,269370.3,MILKYMIST PRM PANEER 500g,,STAND.VAR,1,269370,1,128,48,11508.48,24.07.22,,1.0
10,215,320287.6,MILKYMIST KHOVA 200g,,STAND.VAR,1,320287,1,128,30,2307.00,24.07.22,,1.0
11,215,320296.7,MILKYMIST POUCH CURD 500 g,,STAND.VAR,1,320296,1,128,100,3981.00,24.07.22,,1.0
12,215,327660.7,MILKY MIST SET CURD BUCKET 1 k,,STAND.VAR,1,327660,1,128,36,4234.32,24.07.22,,9.0
13,217,429899.8,MILKYMIST SHRKHND BDM PSTA250g,,STAND.-VAR.,1,427713,1,128,24,1737.12,24.07.22,,24.0
14,215,433062.7,MILKYMIST SET CURD BUCKET 2KG,,STAND.-VAR.,1,430197,1,128,20,4434.20,24.07.22,,4.0
15,219,137575.7,MILKY MIST PANEER 1 kg,,STAND.VAR,1,137575,1,128,300,118287.00,24.07.22,,1.0
16,217,176362.2,MILKY MIST KHOVA 1 kg,,STAND.VAR,1,176362,1,128,96,28228.80,24.07.22,,1.0
17,,,No. of Items:,16,,,,Totals:,,1129.0 249996.12,,,,

In [69]:
tab1 = tabula.io.read_pdf("/content/drive/MyDrive/metro1/MILKY MIST  po  25.07.2022.pdf",
                     pages="all",
                     stream=True,
                     multiple_tables = False,
                     columns = [],
                     pandas_options = {"header":[3]}
                     )

In [72]:
tabu_df1 = tab1[0]

In [75]:
df2.drop(["BUC"],axis = 1,inplace = True)

In [77]:
df2.reset_index(drop = True, inplace = True)

In [78]:
df2["BUC"] = tabu_df1["BUC"]

In [81]:
len(df_1.columns)

14

In [82]:
df2.fillna("",inplace = True)

In [84]:
df_2 = df2.copy()

In [85]:
#3rd table

df3 = table[3].df

In [89]:
x = df3[5].str.split(n=1,expand = True)

In [90]:
df3[12] = x[0]
df3[13] = x[1]

In [92]:
df3.drop([5],axis =1,inplace = True)

In [94]:
df3[2] = df3[2].str.replace("\n"," ")
df3[6] = df3[6].str.replace("-","")
df3[6] = df3[6].str.replace("."," ")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

In [96]:
df3.drop([0,1,2,3],axis = 0,inplace = True)

In [98]:
df3.columns = df3.iloc[0]
df3.drop([4],axis = 0,inplace = True)

In [101]:
df3["Pos-No."] = df3["Pos-No."].replace("1 1 1","1")
df3.loc[df3['PCD\nLast chng'] == "25.07.22", 'Pos-No.'] = 1

In [103]:
df3.rename(columns = {'PCD\nLast chng':'Last chng'}, inplace = True)

In [106]:
df3["PCD"] = df_2["PCD"]

In [107]:
df3

4,PMMG,Art-No.,Article Name,,Variant,ArtNo,Pos-No.,OCC,Qty,Value,Last chng,BUC,SUC,PCD
5,12,220600302,29.07.22 24939,MILKY MIST DAIRY FOOD PVT LTD,,,,,,,,None,None,
6,223,334054.4,MILKYMIST CHEESE CUBES 200g,,STAND.VAR,334054,1,128,120,15267.60,25.07.22,1,60,
7,221,376238.2,MILKYMIST MOZERLA CHEESE1 kg B,,STAND.VAR,375847,1,128,120,53946.00,25.07.22,1,24,
8,224,328555.8,MILKYMIST SHREDED CHEESE 500g,,STAND.VAR,328555,1,128,48,12621.60,25.07.22,1,12,
9,,,No. of Items:,3,,,Totals:,,288.0 81835.20,,,None,None,

In [108]:
df_3 = df3.copy()

In [109]:
df_3.columns

Index(['PMMG', 'Art-No.', 'Article Name', '', 'Variant', 'ArtNo ', 'Pos-No.',
       'OCC', 'Qty', 'Value', 'Last chng', 'BUC', 'SUC', 'PCD'],
      dtype='object', name=4)

In [110]:
df_1 = df_1[['PMMG','Art-No.','Article Name','','Variant','BUC','SUC','ArtNo ', 'Pos-No.','OCC', 'Qty', 'Value', 'Last chng', 'PCD']]
df_2 = df_2[['PMMG','Art-No.','Article Name','','Variant','BUC','SUC','ArtNo ', 'Pos-No.','OCC', 'Qty', 'Value', 'Last chng', 'PCD']]
df_3 = df_3[['PMMG','Art-No.','Article Name','','Variant','BUC','SUC','ArtNo ', 'Pos-No.','OCC', 'Qty', 'Value', 'Last chng', 'PCD']]

In [112]:
final_df = pd.concat([df_1,df_2,df_3])

In [115]:
final_df.reset_index(drop=True,inplace = True)

In [116]:
final_df

4,PMMG,Art-No.,Article Name,,Variant,BUC,SUC,ArtNo,Pos-No.,OCC,Qty,Value,Last chng,PCD
0,12,220300142,25.07.22 24939,MILKY MIST DAIRY FOOD PVT LTD,,,,,,,,,,
1,210,339708.0,MILKYMIST TABLE BUTTER 500g,,STAND.VAR,10,1,339708,1,128,120,31554.00,22.07.22,
2,217,176362.2,MILKY MIST KHOVA 1 kg,,STAND.VAR,,1,176362,1,128,120,35286.00,22.07.22,
3,215,380659.3,MILKYMIST BUCKET CURD 10 kg,,STAND.VAR,1 1,1,380038,1,128,30,24292.80,22.07.22,
4,,,No. of Items:,3,,,,,,Totals:,270.0,91132.80,,
5,12,220500035,27.07.22 24939,MILKY MIST DAIRY FOOD PVT LTD,,,,,,,,,,
6,217,429890.7,MILKYMIST SHRIKAND ELLACHI250g,,STAND.-VAR.,24.0,1,427704,1,128,24,1737.12,24.07.22,
7,217,429888.1,MILKYMIST SHRIKND BDM PSTA100g,,STAND.-VAR.,24.0,1,427702,1,128,24,803.52,24.07.22,
8,216,408988.4,MILKY MIST MILK CREAM 1l,,STAND.-VAR.,12.0,1,407556,1,128,180,42750.00,24.07.22,
9,215,380659.3,MILKYMIST BUCKET CURD 10 kg,,STAND.VAR,1.0,1,380038,1,128,15,12146.40,24.07.22,
10,215,372012.5,MILKYMIST SET CURD 200g,,STAND.VAR,1.0,1,372012,1,128,24,651.36,24.07.22,
11,217,345689.4,BRIYA'S 'TOFU PANEER 200g,,STAND.VAR,16.0,1,345689,1,128,48,3691.20,24.07.22,
12,215,342755.6,MILKYMIST POUCH CURD 1 l,,STAND.VAR,10.0,1,342755,1,128,100,7690.00,24.07.22,
13,219,264679.2,MILKY MIST PRM PANEER 200g,,STAND.VAR,30.0,1,264679,1,128,60,5808.60,24.07.22,
14,219,269370.3,MILKYMIST PRM PANEER 500g,,STAND.VAR,1.0,1,269370,1,128,48,11508.48,24.07.22,
15,215,320287.6,MILKYMIST KHOVA 200g,,STAND.VAR,1.0,1,320287,1,128,30,2307.00,24.07.22,
16,215,320296.7,MILKYMIST POUCH CURD 500 g,,STAND.VAR,1.0,1,320296,1,128,100,3981.00,24.07.22,
17,215,327660.7,MILKY MIST SET CURD BUCKET 1 k,,STAND.VAR,9.0,1,327660,1,128,36,4234.32,24.07.22,
18,217,429899.8,MILKYMIST SHRKHND BDM PSTA250g,,STAND.-VAR.,24.0,1,427713,1,128,24,1737.12,24.07.22,
19,215,433062.7,MILKYMIST SET CURD BUCKET 2KG,,STAND.-VAR.,4.0,1,430197,1,128,20,4434.20,24.07.22,
20,219,137575.7,MILKY MIST PANEER 1 kg,,STAND.VAR,1.0,1,137575,1,128,300,118287.00,24.07.22,
21,217,176362.2,MILKY MIST KHOVA 1 kg,,STAND.VAR,1.0,1,176362,1,128,96,28228.80,24.07.22,
22,,,No. of Items:,16,,,,,Totals:,,1129.0 249996.12,,,
23,12,220600302,29.07.22 24939,MILKY MIST DAIRY FOOD PVT LTD,,None,None,,,,,,,
24,223,334054.4,MILKYMIST CHEESE CUBES 200g,,STAND.VAR,1,60,334054,1,128,120,15267.60,25.07.22,
25,221,376238.2,MILKYMIST MOZERLA CHEESE1 kg B,,STAND.VAR,1,24,375847,1,128,120,53946.00,25.07.22,
26,224,328555.8,MILKYMIST SHREDED CHEESE 500g,,STAND.VAR,1,12,328555,1,128,48,12621.60,25.07.22,
27,,,No. of Items:,3,,None,None,,Totals:,,288.0 81835.20,,,

In [117]:
final_df.to_csv("/content/drive/MyDrive/metro1/MILKY MIST  po  25.07.2022.csv")